<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign Up</title>
</head>
<body>
  <div class="m-5">

    <form autocomplete="off" method="POST">
        <div class="form-group">
          <% if (error_msg) { %>
            <span style="color: red"><%= error_msg %></span>
            <br/>
            <% } %>
          <label for="name">Enter your name</label>
          <input required type="text" name="name" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input required type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" name="password" class="form-control" id="password" placeholder="Create your password">
        </div>
        <button type="submit" class="btn btn-primary">Create Your Account</button>
      </form>
      <div class="mt-2">
        <a href="/Login">Login</a>
      </div>
  </div>
</body>
</html>